<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <ul class="navbar-nav">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" style="font-weight:400" for="darkSwitch">Change Mode</label>
            </div>
        </ul>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="https://github.com/ajeetx">github</a>.</strong> All rights reserved.
</footer>